@media all and (max-width: 1000px) {
    #content,
    aside {
       width: 100%;
       padding: 0;
   }

header {
   display: inline;
}
    .lesson {
      width: 50%;
      margin-bottom: 50px;
    }
    header {
        width: 100%;
    }
    .cover {
        font-size: 20px;
        padding: 50px;
        text-align: center;
        color: white;
     }
     
     .cover_left {
        padding-right: 50px;
     }
     .cover_right{
        width: 256px;
        margin-left: 100px;
     }
     nav ul{
        padding-left: 10px;
     }
     
     nav li {
        padding-right: 5px;
        padding-left: 5px;
     }
     .imgcari {
        padding-left: 100px;
        padding-top: 10px;
        padding-bottom: 10px;
        display: flex;
     }
  }
  @media all and (max-width: 670px){
    .lesson {
       width: 100%;
    }
    header {
        width: 100%;
    }
    h1 {
        font-size: 100%;
    }
    h2 {
        font-size: 60%;
    }
    h3 {
        font-size: 60%;
    }
    p {
        font-size: 60%;
    }
    table {
        font-size: 60%;
    }
    .cover {
        font-size: 100%;
        padding: 5px;
        text-align: left;
        color: white;
        padding-top: 50px;
     }
     
     .cover_left {
        padding-right: 0px;
     }
     .cover_right{
        width: 200px;
        margin-left: 0px;
     }
     nav ul{
        padding-left: 0px;
     }
     
     nav li {
        padding-right: 0px;
        padding-left: 0px;
     }
     nav a {
        padding: 0 10px;
        font-size: 60%;
     }
     .imgcari {
        padding-left: 20px;
        padding-top: 2px;
        padding-bottom: 2px;
        display: flex;
     }
     .imgsearch {
        width: 12px;
        margin: (0px, 2px, 5px, 5px);
     }
     .tombolgelap{
        width: 30%;
        font-weight: 100;
        border-radius: 12px;
        background-color: #5dca88;
        cursor: pointer;
        box-shadow: 0 7px #1a7940;
     }
     
     .isiartikel{
        padding-left: 10px;
        padding-top: 10px;
        padding-bottom: 10px;
        padding-right: 10px;
        font-size: 60%;
     }
     #LBS {
        margin: auto;
        text-align: justify;
        position: center;
        display: list-item;
        padding-left: 2px;
     }
     
     #LSD {
        margin: auto;
        text-align: justify;
        position: center;
        display: list-item;
        padding-left: 2px;
     }
     
     #LP2B {
        margin: auto;
        text-align: justify;
        position: center;
        display: list-item;
        padding-left: 2px;
     }
     .featured-image {
        width: auto;
        max-height: 100px;
        object-fit: cover;
        object-position: center;
        padding-top: 20px;
        padding-left: 20px;
        border-radius: 12px;
     }

     .card {
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
        border-radius: 5px;
        padding: 5px;
        width: 95%;
   }
   main {
    padding: 10px;
    overflow: auto;
 }
 input {
    width:150px;
    margin-top:10px;
    margin-bottom:30px;
    padding:20px;
    font-size:18px;
    border: 1px solid #dee7ec;
  }
  .form {
    width:150px;
    margin-top:10px;
    margin-bottom:30px;
    padding:20px;
    font-size:18px;
    font-size:18px;
    border: 1px solid #dee7ec
    }
    .contact-form {
        padding: 5px;
        text-align: center;
     }
  }
